html,body,div,nav,a,ul,li,p,h1,img,h2,h3,h4,h5,h6,table,form,span{
    padding: 0;
    margin: 0;

}
body{
    font-size: 12px;
    background-color: #fff;
    font-family: "Arial","Verdana","\5b8b\4f53";
    color: #666;
}
i,u,s,b{
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}
img{
    border: 0;
    display: block;
}
input,form,button,textarea{
    padding:0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}
a:hover{
    color:#c81623;
}
.col-red{
    color:#c81623;
}
table{
    border-collapse: collapse;
}
.clearfix::before,.clearfix::after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
    /* 兼容ie6,7,8 */
}
.fl{
    float: left;
}
.fr{
    float: right;
}